.no-match {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 64px);
    align-items: center;
    justify-content: center;
}

.no-match>img {
    width: 250px;
    max-width: 100%;
}

.no-match>h2 {
    margin: 0 32px;
    text-align: center;
}