.user-lookup-page {
    padding: 0 16px;
}

.user-lookup-page input {
    font-size: large;
    margin-bottom:16px;
}

.user-lookup-page input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #444;
    padding: 1px 2px;
    color: white;
    background-color: #222;
    height: 28px;
}

.user-lookup-page input[type="submit"] {
    width: 100%;
    background-color: #006e46;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    height: 64px;
}

.user-lookup-page input[type="submit"]:hover {
    background-color: #01613e;
}

.user-lookup-page input[type="submit"]:active {
    background-color: #00472d;
}
.user-lookup {
    max-width: 1000px;
    margin: auto;
}