form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #444;
    margin-bottom: 8px;
    padding-left: 8px;
}

input[type=submit] {
    background-color: #006e46;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    height: 64px;
}

input[type=submit]:hover {
    background-color: #01613e;
    height: 64px;
}

input[type=submit]:active {
    background-color: #00472d;
}

.input-group {
    margin-top: 8px;
    display: flex;
    flex-grow: 1;
}

.input-group:first-child>label {
    width: 48px
}

.input-group>label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 8px;
    font-size: large;
}

.input-group>input[type=text],
.input-group>select {
    min-width: 0;
    flex-grow: 1;
    margin-right: 8px;
    border: 1px solid #444;
    padding: 1px 2px;
    color: white;
    background-color: #222;
}

.input-group>input {
    height: 28px;
    font-size: large;
}

.input-group>select {
    height: 32px;
    font-size: medium;
}

.input-group>input+select {
    flex-grow: 0;
    min-width: 32px;
    margin-left: -9px;
}

.form-row>p {
    padding-left: 56px;
    margin: 8px 0 8px 0;
    font-size: small;
    box-sizing: border-box;
    width: calc(100%);
}

@media only screen and (max-width: 540px) {

    /* styles for mobile browsers smaller than 540px; (Mobile) */
    .form-row {
        flex-flow: column wrap;
    }

    .form-row>p {
        padding: 0 8px 0 0;
    }

    .input-group>label {
        width: 48px
    }
}